* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mina', monospace;
}

.main {
  margin: 1rem;
  padding: 1rem;
  /* border: 1px solid white; */
  border: 1px solid #02d096;
  border-radius: 1rem;
  background-color: #192937;
}

.main::before {
  content: "";
  background-image: url("");
  background-repeat: no-repeat;
  background-size: contain;
  width: 140vw;
  height: 100vh;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main::after {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 140vh;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: rotate(180deg);
}

body {
  background: rgb(2,0,36) no-repeat;
  background: linear-gradient(90deg, rgb(76, 70, 206) 0%, rgb(202, 95, 183) 50%, rgb(76, 70, 206) 100%);
  color: #fff;
  font-family: 'Minecraft', sans-serif;
}


a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

/* @font-face {
  font-family: "Minecraft";
  src: url("/assets/fonts/VCR_OSD_MONO_1.001.ttf");
} */

@media only screen and (min-width: 768px) {
  .main {
    max-width: 1024px;
    margin: 1rem auto;
  }

  .main::before,
  .main::after {
    width: 70vw;
  }
}
