.skills{
    display: flex;
    flex-direction: column;
}

.skills .hardskills ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}


.skills .hardskills ul i{
    max-width: 90px;
    margin: 0.5rem;
    font-size: 3rem;
    color: #02d096;
}

.skills .softskills ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.skills .softskills ul li{
    margin-left: 2rem;
    padding: .5rem;
}




@media only screen and (min-width:768px){
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}